$offWhite: #e1e1e1;
$offGrey: #c8c8c8;
$offBlack: #151515;
$darkGrey: #232323;
$lessDarkGrey: #191919;
$evenLessDarkGrey: #414141;
$cerulean: #247BA0;
$verdigris: #70C1B3;
$keppel: #49AB9B;
$otherKeppel: #49a0ab;
$celadon: #B2DBBF;
$cream: #F3FFBD;
$folly: #FF1654;
$reallyDarkFolly: #9c183e;
$myLavender: #b179ff;