@import "./colors.scss";

html {
    margin: 0;
    width: 100vw !important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $offBlack;
    width: 100vw !important;
    color: $offWhite;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw !important;
}

.App {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    color: $offWhite;
}

ul {
    margin: 0;
    padding: 0;
}

#header {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $offWhite;
}

.navButton {
    display: flex;
    color: $offBlack;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: 0px 1vw;
    font-weight: bold;
}

.navButton:hover {
    background-color: $offGrey;
}

.navButton.highlightedNavButton {
    background-color: $offOffWhite;
}

.navButton:has(img), .navImage {
    height: 100%;
}

#headerButtons {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navButtonTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2vh;
    white-space: nowrap;
}

#navLogo {
    align-self: flex-start;
}

#menuImg {
    height: 2.8vh;
}

@media only screen and (orientation: landscape) {
    #menuButton {
        display: none;
    }
    #headerButtons {
        display: flex;
    }
}

@media only screen and (orientation: portrait) {
    #menuButton {
        display: flex;
    }
    #headerButtons {
        display: none;
    }
}

.headerChild {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#heroContainer {
    text-align: left;
    position: relative;
    // padding: 2.8vw;
}

#hero {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.heroGradient {
    background-image: linear-gradient(120deg, $cerulean, $hippieBlue);
}

.secondaryHeroGradient {
    background-image: linear-gradient(120deg, $cerulean, $myLavender);
}

.tertiaryHeroGradient {
    background-image: linear-gradient(120deg, $myLavender, $hippieBlue);
}

#heroContainer h1 {
    position: absolute;
    bottom: 2.8vw;
    left: 2.8vw;
    color: $offWhite;
}

a {
    color: $offWhite;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vw;
    border-top: 1px $offWhite solid;
}

.footerColumn {
    width: 33vw;
}

.inverted {
    filter: invert(1);
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.footerImg {
    height: 2.5vh;
    padding-right: 1vw;
}

.alignedCenter {
    align-items: center;
}

ul {
    margin: 1.5vw;
}
li {
    // list-style: inside;
    // font-size: 1.5em;
    margin: 0.5vh 0;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 2px $offWhite solid;
    margin: 0;
    border-collapse: collapse;
}

td:not(td.middleTD) {
    text-align: center;
}